<div id="difficulty_level">
	 <h2>Please Choose Difficulty Level for the Game</h2>
	  <input type='button' name='easy' value="Easy" onclick = "loadSnake('easy');"> 
	  <input type='button' name='difficult' value="Difficult" onclick = "loadSnake('diffcult');">
 </div>


<div id="show_status" style="display:none;">
	
</div>

<input id='snake_grid' type='hidden' value='0'>
<input id='no_of_attempts' type='hidden' value='0'>
<input id='no_of_cells' type='hidden' value='0'>
<input id='snake_found' type='hidden' value='0'>
<input id='user_snake_body' type='hidden' value=''>
<input id='snake_body' type='hidden' value=''>

<div id="grid">
	
</div>