<div id="grid" name='grid' style="display:none;">
	
	<div id="row_1" style="clear:left;border: 1px solid #BBBBBB; width: 80px;">  
   	<div id="r11" style="float:left; border-left: 1px solid #BBBBBB;">11 &nbsp;
   	</div>

		<div id="r12" style="float:left; border-left: 1px solid #BBBBBB;">12 &nbsp;
	    </div>
		
		<div id="r13" style="float:left;border-left: 1px solid #BBBBBB;border-right: 1px solid #BBBBBB;">13 &nbsp;
	    </div>
   </div>


	<div id="row_2 " style="clear:left; border: 1px solid #BBBBBB; width: 80px;">  
   	<div id="r21" style="float:left; border-left: 1px solid #BBBBBB; ">21 &nbsp;
   	</div>

		<div id="r22" style="float:left; border-left: 1px solid #BBBBBB;">22 &nbsp;
	    </div>
		
		<div id="r23" style="float:left; border-left: 1px solid #BBBBBB; border-right: 1px solid #BBBBBB; ">23 &nbsp;
	    </div>
   </div>



	<div id="row_3 " style="clear:left; border-top: 1px solid #BBBBBB; width: 80px; ">  
   	<div id="r31" style="float:left; border-left: 1px solid #BBBBBB; border-bottom: 1px solid #BBBBBB;">32 &nbsp;
   	</div>

		<div id="r32" style="float:left; border-left: 1px solid #BBBBBB; border-bottom: 1px solid #BBBBBB;">32 &nbsp;
	    </div>
		
		<div id="r33" style="float:left; border-left: 1px solid #BBBBBB;border-right: 1px solid #BBBBBB; border-bottom: 1px solid #BBBBBB;">
			33 &nbsp;
	    </div>
   </div>


</div>
