<html>
   <head>
	  <title>
		 Head and Tail - Lets hunt for the Snake!
	  </title>
      <script src="/javascripts/prototype.js" type="text/javascript"></script>
	  <script src="/javascripts/application.js" type="text/javascript"></script>
	  <script src="/javascripts/jquery.js" type="text/javascript"></script>
	</head>
   <body>
	 <%= yield%>
   </body>
</html>